*{
    padding: 0;
    margin: 0;
}
body {
    background-color:rgb( 74, 100, 108);

  }
#humberger{
    background-color:rgb(64, 181, 173);
 
}
#humberger a{
    text-decoration: none;
}
#humberger i{
    color: antiquewhite;
}

.nav-brand{
    font-size: 25px;
    margin-top: 15px;
    font-weight: bold;
    color: antiquewhite;
    margin-left: 20px;
   
}
.nav-brand:hover{
    color:rgb( 74, 100, 108);
   
}
#offcanvas ul li a{
    list-style: none;
    font-size: 20px;
    color: black;
}
#offcanvas ul li a:hover{
    color:rgb(150, 222, 209);
}

#offcanvas{
    background-color:rgb(64, 181, 173);
} 
#home{
   /* height: 400px;*/
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    
}


#home h6{
    color:white;
    font-size: 20px;

}
#home h2{
color:rgb(64, 181, 173);
font-size: 50px;
}
#home .special{

margin-left: 3px;
color: white;
margin-right: 5px;
font-size: 15px;

}

.social-links a{
    color:white;
    font-size: 27px;
    padding: 3px;
}
.social-links a:hover{
    color:rgb(64, 181, 173);
}


/*project stylings*/

.container2{
    height: 400px;
}
.container2 button a{
    text-decoration: none;
    color:rgb(32,178,170);
    font-size: 15px;
    font-weight: bolder;
}
.container2 button a:hover{
    color: white;
}

    
/*----projects section stylings----*/
#projects .project-box{
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    height: 450px;
    margin-top: 5px;
   
}


#projects .project-box img{
    width: 200px;
    height: 180px;
    padding: 20px;
    border-radius: 30px;
}
#projects .project-box h2{
    color:rgb(32,178,170) ;
    font-size: 25px;
}

#projects .project-box p{
   
    padding: 3px;
    color: white;
   
}
#projects .project-box a{
   text-decoration: none;
   font-size: 20px;
   padding: 8px;
   color:rgb(32,178,170);
}
#projects .project-box a:hover{
    color:aqua;
}
  
/*---about section stylings--*/

#about-me .big{
    font-weight: bold;
    color: white;
    
}
#about-me .skill{
    font-size: 14px;
    background:rgb(32,178,170);
    border-radius: 5px;
    margin-left: 7px;
    color:purple;
    font-weight:bold;
    padding:3px;
    
}
#about-me h1,h3,h4,p{
    color: white;
}
#about-me h2{
    color: rgb(32,178,170);
}


